{{ define "main" }}

{{.Content}}

<h2 class="text-xl font-semibold mt-4 mb-1 text-purple-800">Get in touch</h2>
<p>If you'd like to get in touch please send me an email

<script language="JavaScript" type="text/javascript"><!--
document.write('<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;' + '&#109;&#105;&#107;&#101;&#64;' + '&#106;&#111;&#115;&#101;&#112;' + '&#104;&#115;&#111;&#110;&#46;' + '&#111;&#114;&#103;' + '">' + '&#109;&#105;&#107;&#101;&#64;' + '&#106;&#111;&#115;&#101;&#112;' + '&#104;&#115;&#111;&#110;&#46;' + '&#111;&#114;&#103;' + '<\/a>');
--></script><noscript><em>&#109;&#105;&#107;&#101;&#32;&#123;&#97;&#116;&#125;&#32;&#106;&#111;&#115;&#101;&#112;&#104;&#115;&#111;&#110;&#32;&#123;&#100;&#111;&#116;&#125;&#32;&#111;&#114;&#103;</em></noscript>

or a tweet
    <a href="https://twitter.com/michaelj">@michaelj</a></p>
{{ end }}