<header class="bg-white" x-data="{ open: false }">
  {{ $currentPage := . }}
  <div class="mx-auto lg:divide-y lg:divide-gray-200">
    <div class="relative h-16 flex justify-end">
      <div class="relative z-10 flex items-center md:hidden">
        <!-- Mobile menu button -->
        <button type="button" @click="open = ! open" class="rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg x-bind:class="open ? 'hidden' : 'block'" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg x-cloak x-bind:class="open ? 'block' : 'hidden'" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="hidden md:relative md:z-10 lg:ml-4 md:flex md:items-center">
        <nav class="hidden md:py-2 md:flex md:space-x-4" aria-label="Global">
          {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-100 text-gray-900{{else}}text-gray-900 hover:bg-gray-50 hover:text-gray-900{{ end }} rounded-md py-2 px-3 inline-flex items-center text-sm font-medium">
              {{ .Name }}
            </a>
          {{ end }}
        </nav>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <nav x-cloak x-show="open" aria-label="Global" id="mobile-menu">
    <div class="pt-2 pb-3 px-2 space-y-1">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-100 text-gray-900{{else}}text-gray-900 hover:bg-gray-50 hover:text-gray-900{{end}} block rounded-md py-2 px-3 text-base font-medium">
          {{ .Name }}
        </a>
      {{ end }}  
    </div>
    <div class="border-t border-gray-200 pt-4 pb-3 mx-2"></div>    
  </nav>
</header>