{{ define "main" }}
  <h1 class="font-extrabold text-4xl mb-8 text-gray-900">Projects</h1>

  <div class="mb-6">{{.Content}}</div>

  {{ range .Pages }}
    <div class="mb-10">
      <h2 class="text-xl font-semibold mt-4 text-purple-800">{{ .Title }}</h2>
      {{ if isset .Params "project_url" }}
        {{ $url := urls.Parse .Params.project_url }}
        <div><a href="{{ .Params.project_url }}">{{ $url.Host }}</a></div>
      {{ end }}
      <div class="prose">{{ .Content }}</div>
    </div>
  {{ end }}
{{ end }}
